/* styles.css or App.css */
.rc-slider {
    margin: 0 1rem;
    height: 6px;
  }
  
  .rc-slider-rail {
    background-color: #ccc;
  }
  
  .rc-slider-track {
    background-color: #4A141D;
  }
  
  .rc-slider-handle {
    border-color: #4A141D;
    background-color: white;
    width: 20px;
    height: 20px;
    margin-top: -7px;
  }
  